.exercises{
    display: grid;
    grid-template-columns: 4fr 1fr;
}

.cards{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

@media screen and (max-width: 576px) {
    .exercises{
        display: grid;
        grid-template-columns: 1fr;
    }

    .cards{
        display: grid;
        grid-template-columns: 1fr;
    }
}